// colors
$primary1: #00adb5;
$primary2: #ffffff; // white
$primary3: #575656; // dark grey 1
$primary4: #005c60;
$greyscale1: #f6f9f8; // light gery
$greyscale2: #ebebeb; // grey
$greyscale3: #333333; // dark gray 2

